<h2>Create Task Form</h2>
<form [formGroup]="creationForm" (ngSubmit)="onSubmit($event)">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required formControlName="title">
    <div>
    <label for="withpriority">With Priority:</label>
    <input type="checkbox" id="withpriority" name="withpriority" formControlName="withpriority">
</div>  
    <label for="deadline">Deadline:</label>
    <input type="date" id="deadline" name="deadline" formControlName="deadline">
<div>
    <button type="submit" class="add-btn">Add Task</button>
    <button type="reset" class="cancel-btn">Cancel</button>

</div>
</form>
<hr>